.history-container {
  padding: 40px 20px;
  margin-left: 240px; /* ajustable si sidebar es colapsable */
  font-family: 'Montserrat', sans-serif;
  background-color: #f2f2f2;
  min-height: 100vh;
  animation: slideFade 0.5s ease forwards;
}

.history-title {
  font-size: 2rem;
  color: #01403A;
  margin-bottom: 30px;
}

.history-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}