.worker-card {
  background-color: #ffffff;
  border-radius: 20px;
  padding: 20px;
  width: 250px; /* Igual que .service-card */
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.1);
  font-family: 'Montserrat', sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  animation: slideFade 0.5s ease forwards;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.worker-card:hover {
  transform: translateY(-4px);
  box-shadow: 0 12px 30px rgba(0, 0, 0, 0.15);
}

.worker-category {
  font-size: 16px;
  font-weight: 600;
  color: #01403A;
  margin-bottom: 10px;
}

.worker-name {
  font-size: 14px;
  color: #0F1C2F;
  margin-bottom: 12px;
}

.contact-button {
  background-color: #01403A;
  color: #ffffff;
  border: none;
  padding: 10px;
  width: 100%;
  border-radius: 12px;
  cursor: pointer;
  font-weight: 600;
  font-size: 14px;
  transition: background-color 0.3s ease;
}

.contact-button:hover {
  background-color: #023530;
}
